<section class="hero">
  <div class="hero-content">
    <h1>Gestion des Déchets</h1>
    <p>Bienvenue sur notre plateforme de gestion des déchets. Ensemble, agissons pour un environnement plus propre et plus durable.</p>
    <a routerLink="/about" class="btn">À propos</a>
  </div>
</section>

<section class="features">
  <div class="feature">
    <h2>Tri sélectif</h2>
    <p>Apprenez comment trier correctement les déchets pour faciliter leur recyclage et leur traitement.</p>
  </div>
  <div class="feature">
    <h2>Réduction des déchets</h2>
    <p>Découvrez des stratégies pour réduire la production de déchets et adopter des pratiques de consommation responsable.</p>
  </div>
  <div class="feature">
    <h2>Recyclage</h2>
    <p>Informez-vous sur les méthodes de recyclage et comment participer activement au processus de recyclage des matériaux.</p>
  </div>
</section>

  
   
