<!-- Sidebar/menu -->
<nav class="w3-bar w3-blue w3-large w3-padding" id="myNavbar">
  
    <a href="javascript:void(0)" onclick="toggleMenu()" class="w3-bar-item w3-button w3-hide-large w3-left" style="font-size:22px">☰</a>
    <a routerLink="/" class="w3-bar-item w3-button">Accueil</a>
    <a routerLink="/profile" class="w3-bar-item w3-button">profile</a>
    <a routerLink="/report" class="w3-bar-item w3-button">report</a>
    <a routerLink="/report-list" class="w3-bar-item w3-button">reportlist</a>
    <a routerLink="/collecte" class="w3-bar-item w3-button">Calandrier de collectes des déchets </a>
    <a routerLink="/articles" class="w3-bar-item w3-button">Informations et Conseils sur le Recyclage</a>




    
  </nav>
  
  
  
  
<router-outlet></router-outlet>